<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Party Party!</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        img {
            height: 400px;
        }
    </style>
</head>

<body>
    <img src="static/excited-party-mode-baby.webp" alt="Baby NHL Penguins fan is very excited">
</body>

</html>