.textInput {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.textInput input {
    padding: 0.5rem;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    width: 3rem;
}

.textInput button {
    padding: 0.6rem 2rem;
    border: none;
    background-color: forestgreen;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
}